*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
section{
	width: 100%;
	background-color:#edeef0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.yuxari{
	width: 100%;
	height: 45px;
	background-color: white;
	position: sticky;
	top: 0;
}
.logo{
	 width: 30%;
	 float: left;
}
.logo img{
	height: 45px;
	padding: 3px 220px;
}
.input{
	width: 70%;
	float: left;
}
.input-qutu{
	width: 220px;
	background-color: #edeef0;
	border-radius: 6px;
	padding: 7px 6px;
	margin: 6px;
	color: #8e98a3;
}

.input input{
	border: 0;
	outline: 0;
	background-color: transparent;
}
.asagi{
	width: 65%;
	margin: 0 auto;
}
.sol{
	width: 49%;
	display: inline-block;
}
.text{
	width: 100%;
	margin: 35px 0;

}
.text h1{
	width: 100%;
	text-align: center;
}
.text p{
	width: 100%;
	text-align: center;
	color: #6d6e70;
}
.sekil{
	width: 90%;
	text-align: center;
}
.sekil img{
	width: 90%;
}	
.iconlar{
	width: 100%;
	color: #346297;
	text-align: center;
	margin: 15px 60px;
	font-size: 14px;
}
.icon1{
	float: left;
	margin-right: 40px;
	
}
.iconlar a{
	text-decoration: none;
}
.icon2{
	float: left;
	margin-right: 40px;
}
.iconlar a{
	text-decoration: none;
}
.icon3{
	float: left;

}
.iconlar a{
	text-decoration: none;
}
.link{
	width: 100%;
	text-align: center;
	color: #31537a;
	padding: 40px 0;
	font-size: 14px;
}
.link a{
	text-decoration: none;
}
.sag{
	width: 50%;
	display: inline-block;
}
.yuxari2{
	width: 75%;
	background-color: white;
	border-radius: 13px;
	margin: 0 60px 75px 60px;
}
.vk{
	width: 100%;
	text-align: center;
}
.vk img{
	width: 75px;
	height: 75px;
	margin: 25px 0 5px 0;
}
.text1{
	width: 100%;
	text-align: center;
}
.text1 h1{
	width: 100%;

}
.input1{
	width: 100%;
	text-align: center;
}
.input1 input{
	width: 85%;
	height: 35px;
	border: 1px solid #dbdbdb;
	padding: 10px;
	margin: 15px 0;
	border-radius: 9px;
	background-color: #f0f2f5;

}
.check{
	width: 100%;
	margin: 0 25px;
	color: #7f8995;
}
.check input{
	color: #7f8995;
}
.daxil-ol{
	width: 100%;
	text-align: center;
}
.daxil-ol button{
	width: 85%;
	height: 35px;
	padding: 10px;
	margin: 23px 0;
	border-radius: 9px;
	background-color: #0077ff;
	border: 0;
	color: white;
}
.or{
	width: 100%;
	text-align: center;
	color: #abadb1;
}	
.code{
	width: 100%;
	text-align: center;
	margin:0 0 20px 0;
}
.code button{
	width: 85%;
	height: 40px;
	border: 1px solid #dbdbdb;
	padding: 10px;
	margin: 15px 0;
	border-radius: 9px;
	background-color: white;

}
.asagi2{
	width: 75%;
	background-color: white;
	border-radius: 13px;
	margin: 15px 60px;
	transform: translateY(-60px);
}
.daxil-ol1{
	width: 100%;
	text-align: center;
}
.daxil-ol1 button{
	width: 85%;
	height: 35px;
	padding: 10px;
	margin: 23px 0 13px 0;
	border-radius: 9px;
	background-color: #4bb34b;
	border: 0;
	color: white;
}
.text2{
	width: 100%;
	text-align: center;
	margin: 0 30px;
}
.text2 p{
	width: 80%;
	color: #abadb1;
	font-size: 14px;
}
.oyren{
	width: 100%;
	text-align: center;
	padding-bottom: 30px;

}
.oyren a{
	text-decoration: none;
	color: #6d6d6e;
	font-size: 14px;

}

